<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Single Listing</title>
</head>
<body>

<img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
     alt="Avatar" style="width:80%">
<form action="#"
      th:action="@{/add_listing}"
      th:object="${listing}"
      method="post">
    <!--
        String address;
        String duration;
        String price;
        String room_description;
        String start_from;
        String adminEmailId;
    -->
    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address" placeholder="Address"><br><br>
    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>

    <label for="duration">Duration</label>
    <input type="text" th:field="*{duration}" id="duration" placeholder="Duration"><br><br>
    <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>

    <label for="adminEmailId">Email</label>
    <input type="text" th:field="*{adminEmailId}" id="adminEmailId" placeholder="adminEmailId"><br><br>
    <span th:if="${#fields.hasErrors('adminEmailId')}" th:errors="*{adminEmailId}"></span>

    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price"><br><br>
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

    <label for="start_from">Start From (Please Enter a Date)</label>
    <input type="text" th:field="*{start_from}" id="start_from" placeholder="start_from"><br><br>
    <span th:if="${#fields.hasErrors('start_from')}" th:errors="*{start_from}"></span>

    <label for="room_description">Description</label>
    <input type="text" th:field="*{room_description}" id="room_description" placeholder="room_description"><br><br>
    <span th:if="${#fields.hasErrors('room_description')}" th:errors="*{room_description}"></span>

    <input type="hidden" th:field="*{id}">
    <!--    <input type="hidden" id="userid" th:field="${user.id}" >-->

    <input type="submit" value="Update Listing">

</form>

<form th:action="@{/admin_home}" th:object="${user}" method="get">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{name}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{description}">
    <input type="hidden" th:field="*{nationality}">
    <input type="hidden" th:field="*{phone}">
    <input type="submit" value="Go Back to Listings">
</form>


</body>
</html>