<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        var id;
    </script>
    <title>Admin Home</title>
</head>
<body>
<p th:if="${message != null}" hidden th:text="${message}"></p>
<h1>Listings Posted By <span th:text="${user.name}"></span></h1>
<table>
    <tr th:each="listing: ${listings}">
        <div id="listings">
            <div class="card">
                <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
                     alt="Avatar" style="width:20%">
                <div class="container">
                    <h4><b>Details</b></h4>
                    Address - <p th:text="${listing.address}" ></p>
                    Duration(Months) - <p th:text="${listing.duration}" ></p>
                    Price (In CAD $) - <p th:text="${listing.price}" ></p>
                    Description - <p th:text="${listing.description}" ></p>
                    Available From - <p th:text="${listing.start_from}" ></p>
                    <a th:href="@{edit_listing/(listingid=${listing.id},userid=${user.id})}"> Edit Listing </a>
                    <a th:href="@{request_status/(listingid=${listing.id},userid=${user.id})}"> Check Request Status </a>
                </div>
            </div>
        </div>

    </tr>
</table>

<a th:href="@{request_status/(listingid='',userid=${user.id})}"> Check Request History </a>

</body>
</html>