<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Parth Dhamija Midterm</title>
    <style>
h1 {
    background-color: red;
    color: white;
    text-align:center;
    padding: 10px;
}
p {
    background-color: green;
    color: white;
    text-align:center;
    padding: 10px;
}
#img {
    background-color: transparent;
    align-items: center;
}





    </style>
</head>
<body>
<h1>Products</h1>
<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/login">Proceed To Login Screen</a></p>
</div>
<p id="img"><img th:src="@{/gifs/compiler-bot.gif}" height="100" alt="gif"/></p>
</body>
</html>