<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<div id="requests">
    <div class="card">
        <a href="student_profile.html">
            <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
                 alt="Avatar" style="width:20%">
        </a>
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
            <a href="accept.html">Accept</a>
            <a href="decline.html">Decline</a>
        </div>
    </div>
</div>
</body>
</html>