<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Requests</title>
</head>
<body>
<h1>Request History</h1>
<h2> <span th:text="${user.name}"></span>'s Request History</h2>
<table>
    <tr th:each="request: ${status}">

        <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
             alt="Avatar" style="width:20%">

        <h4><b>Status Check</b></h4>
        Status - <p th:text="${request.status}"></p>
        Address - <p th:text="${request.listingAddress}"></p>
        Please Contact the Family at - <p th:text="${request.adminEmail}"></p>
    </tr>
</table>
<form th:action="@{/student_home}" th:object="${user}" method="get">
    <input type="hidden" th:field="*{id}"></input>
    <input type="hidden" th:field="*{name}"></input>
    <input type="hidden" th:field="*{email}"></input>
    <input type="hidden" th:field="*{password}"></input>
    <input type="hidden" th:field="*{description}"></input>
    <input type="hidden" th:field="*{nationality}"></input>
    <input type="hidden" th:field="*{phone}"></input>
    <input type="submit" value="Go Back to Listings">
</form>

</body>
</html>