<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<div id="requests">
    <div class="card">
        <a href="single_listing.html">
            <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
                 alt="Avatar" style="width:50%">
        </a>
        <div class="container">
            <h4><b>Address</b></h4>
            <p>Price</p>
            <p>Status</p>
        </div>
    </div>
    <div class="card">
        <a href="single_listing.html">
            <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
                 alt="Avatar" style="width:50%">
        </a>
        <div class="container">
            <h4><b>Address</b></h4>
            <p>Price</p>
            <p>Status</p>
        </div>
    </div>
</div>
</body>
</html>