<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<h1>Request History</h1>
<h2><span th:text="${listing.address}"></span> Request History</h2>
<table>
    <tr th:each="request: ${statuses}">
        <h4><b>Status Check</b></h4>
        Status - <p th:text="${request.status}"></p>
        Address - <p th:text="${request.listingAddress}"></p>
        Please Contact the Student At - <p th:text="${request.studentEmail}"></p>
        <form action="#"
              th:action="@{/request_admin}"
              method="post">


        </form>
    </tr>

</table>
<form th:action="@{/admin_home}" th:object="${user}" method="get">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{name}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{description}">
    <input type="hidden" th:field="*{nationality}">
    <input type="hidden" th:field="*{phone}">
    <input type="submit" value="Go Back to Listings">
</form>

</body>
</html>