<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Requests</title>
</head>
<body>
<h1>Request History</h1>
<h2><span th:text="${listing.address}"></span> Request History</h2>
<table>
    <tr th:each="request: ${statuses}">
        <div id="listings row">
            <div class="col-sm-6">
        <h4><b>Status Check</b></h4>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Status</label> <p th:text="${request.status}"></p>
        <label class="col-sm-2 col-form-label">Address</label> <p th:text="${request.listingAddress}"></p>
        <label class="col-sm-2 col-form-label">Please Contact the Student At</label> <p th:text="${request.studentEmail}"></p>
<br>
        <form action="#"
              th:action="@{/request_admin/(listingId=${listing.id},adminId=${request.adminId},
              studentId=${request.studentId},status='Accepted')}"
              method="post">
            <input type="submit" value="Accept" class="btn btn-primary" >
        </form>


        <form action="#"
              th:action="@{/request_admin/(listingId=${listing.id},adminId=${request.adminId},
              studentId=${request.studentId},status='Rejected')}"
              method="post">
            <input type="submit" value="Reject" class="btn btn-primary" >
        </form>
        </div>
            </div>
        </div>

    </tr>

</table>
<div class="test">
<form th:action="@{/admin_home}" th:object="${user}" method="get">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{name}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{description}">
    <input type="hidden" th:field="*{nationality}">
    <input type="hidden" th:field="*{phone}">
    <input type="submit" value="Go Back to Listings" class="btn btn-primary" >
</form>
</div>
</body>
</html>