<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Requests</title>
</head>
<body>
<h2 align="center"><span th:text="${user.name}"></span>'s Request History</h2>
<table>
    <tr th:each="request: ${status}">
        <div class="col-md-6" >
            <div id="listings row" style="padding:3%" >
                <div class="card student_home">
                    <div class="card-body">
                        <h3 class="card-title">
                            <span th:text="${request.listingAddress}"></span>
                        </h3>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <label class="col-sm-4 col-form-label">Status</label>
                            <span th:text="${request.status}"></span>
                        </li>
                        <li class="list-group-item">
                            <label class="col-sm-4 col-form-label">Address</label>
                            <span th:text="${request.listingAddress}"></span>
                        </li>
                        <th:block th:if="${request.status =='Accepted' }" >
                            <li class="list-group-item" style="background-color:green !important">
                                <label class="col-sm-4 col-form-label">Contact At</label>
                                <span th:text="${request.adminEmail}"></span>
                            </li>
                        </th:block>
                        <th:block th:if="${request.status =='To Be Decided'}">
                            <li class="list-group-item" >
                                <label class="col-sm-4 col-form-label">Contact At</label>
                                <span>Not Available</span>
                            </li>
                        </th:block>
                        <th:block th:if="${request.status =='Rejected' }">
                            <li class="list-group-item" style="background-color:red !important" >
                                <label class="col-sm-4 col-form-label">Contact At</label>
                                <span >Not Available</span>
                            </li>
                        </th:block>




                    </ul>
                </div>
            </div>
        </div>
    </tr>
</table>
<div class="test">
    <form th:action="@{/student_home}" th:object="${user}" method="get">
        <input type="hidden" th:field="*{id}"></input>
        <input type="hidden" th:field="*{name}"></input>
        <input type="hidden" th:field="*{email}"></input>
        <input type="hidden" th:field="*{password}"></input>
        <input type="hidden" th:field="*{description}"></input>
        <input type="hidden" th:field="*{nationality}"></input>
        <input type="hidden" th:field="*{phone}"></input>
        <input type="submit" value="Go Back to Listings" class="btn btn-primary">
    </form>
</div>
</body>
</html>