<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        var id;




    </script>
    <title>Student Home</title>
</head>
<body>
<div class="container2">
<form th:action="@{/newlogin}" style="float:right">
    <input type="submit" value="Log Out" class="btn btn-primary">
</form>
<p th:if="${message != null}" hidden th:text="${message}"></span>
<h1 align="center">Listings Available</h1>
<table>
    <tr th:each="listing: ${listings}">
        <div class="col-md-6">
            <div id="listings row" style="padding:3%">
                <div class="card student_home">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${listing.address}"></h3>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <label class="col-sm-4 col-form-label">Duration(Months)</label>
                            <span th:text="${listing.duration}"></span>
                        </li>
                        <li class="list-group-item">
                            <label class="col-sm-4 col-form-label">Price (In CAD $)</label>
                            <span th:text="${listing.price}"></span>
                        </li>
                        <li class="list-group-item"><label class="col-sm-4 col-form-label">Description</label>
                            <span th:text="${listing.description}"></span>
                        </li>
                        <li class="list-group-item">
                            <label class="col-sm-4 col-form-label">Available From</label>
                            <span th:text="${listing.start_from}"></span>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{request_student/(listingid=${listing.id},userid=${user.id})}">
                                <input type="submit" value="Request"><br>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </tr>
</table>
<div class="test">
    <form th:action="@{/student_profile}" th:object="${user}" method="get">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{password}">
        <input type="hidden" th:field="*{description}">
        <input type="hidden" th:field="*{nationality}">
        <input type="hidden" th:field="*{phone}">
        <input type="submit" value="Edit/Customize Profile" class="btn btn-primary">
    </form>
    <br>
    <a th:href="@{request_student/(listingid='',userid=${user.id})}">
        <button class="btn btn-primary">Check Request History</button>
    </a>
    <!--<button th:href="@{request_student/(listingid='',userid=${user.id})}" class="btn btn-primary"> Check Request History </button>-->
</div>

</div>
</body>
</html>