<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Student Login</title>
</head>
<body>
<h1>Listings Available</h1>
<div id="listings">
    <div class="card">
        <a href="single_listing.html">
            <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
                 alt="Avatar" style="width:20%">
        </a>
        <div class="container">
            <h4><b>Home Details</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <a href="single_listing.html">
            <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
                 alt="Avatar" style="width:20%">
        </a>
        <div class="container">
            <h4><b>Home</b></h4>
            <p>Price</p>
        </div>
    </div>
</div>
<h2><span th:value="*{user.id}"></span></h2>

<form th:action="@{/student_profile}" th:object="${user}" method="get">
    <input type="hidden" th:field="*{id}"></input>
    <input type="hidden" th:field="*{name}"></input>
    <input type="hidden" th:field="*{email}"></input>
    <input type="hidden" th:field="*{password}"></input>
    <input type="hidden" th:field="*{description}"></input>
    <input type="hidden" th:field="*{nationality}"></input>
    <input type="hidden" th:field="*{phone}"></input>
    <input type="submit" value="Edit/Customize Profile">
</form>

<h2><a href="request_history.html">Check Request Status</a></h2>
</body>
</html>