<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Student Profile</title>
</head>
<body>

<img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png"
     alt="Avatar" style="width:50%">
<form action="#"
      th:action="@{/student_profile}"
      th:object="${user}"
      method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"><br><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="nationality">Nationality</label>
    <input type="text" th:field="*{nationality}" id="nationality" placeholder="Nationality"><br><br>
    <span th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></span>

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"><br><br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <label for="phone">Phone</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone"><br><br>
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description"><br><br>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password"><br><br>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <!--    Only available to User -->
    <input type="submit" value="Update Profile">

</form>
<!--Only Available to Admin-->
<a href="requests.html"><h2>Go Back</h2></a>

<!--Only Available to Admin-->
<a href="student_home.html"><h2>Go Back to Listings</h2></a>

</body>
</html>